<h1><%= title %></h1>

<form 
  method="post"
  action="<%= isEdit ? `/plataforma/${platform?.id}/editar` : '/plataforma/criar' %>"
>
  <%- include("../../partials/form-errors", errors) %>

  <div class="mb-3">
    <label class="form-label" for="platform">Nome:</label>
    
    <input
      class="form-control"
      type="text"
      name="name"
      id="platform"
      placeholder="X-Box Series X"
      value="<%= platform?.name || '' %>"
      maxlength="50"
      required
    />
  </div>

  <input type="hidden" name="id" value="<%= platform?.id || '' %>">
  
  <!-- Holds the original name to check for changes -->
  <input type="hidden" name="currentName" value="<%= currentName %>">

  <button class="btn btn-success" type="submit">Salvar</button>

  <% const upperUrl = isEdit ? `/plataforma/${platform?.id}` : "/plataformas" %>

  <a class="btn btn-light" href="<%= upperUrl %>">
    Cancelar
  </a>
</form>
