<h1><%= title %></h1>

<form action="<%= `/genero/${genre.id}/apagar` %>" method="post">
  <p>Tem certeza de que deseja excluir o gênero <b><%= genre.name %></b>?</p>

  <% if (gamesWithGenre.length > 0) { %>      
  <div class="alert alert-danger">
    <p>
      Os jogos listados abaixo estão associados a ele. Ao prosseguir, os jogos
      não serão excluídos, mas perderão a associação com este gênero.
    </p>
    <ul class="mb-0">
      <% gamesWithGenre.forEach(game => { %>
      <li><%= game.title %></a></li>
      <% }) %>
    </ul>
  </div>
  <% } %>

  <input type="hidden" name="id" value="<%= genre.id %>" />

  <button class="btn btn-danger" type="submit">Sim, apagar</button>
  <a class="btn btn-light" href="<%= `/genero/${genre.id}` %>">Não</a>
</form>
