<h1><%= title %></h1>

<form 
  method="post"
  action="<%= isEdit ? `/genero/${genre?.id}/editar` : '/genero/criar' %>"
>
  <% if (errors.length > 0) { %>
    <ul>
      <% errors.forEach(error => { %>
        <li>
          <p><%= error.msg %></p>
        </li>
      <% }) %>
    </ul>
  <% } %>

  <div class="formRow">
    <label for="genre">Nome:</label>
    
    <input
      type="text"
      name="genre"
      id="genre"
      value="<%= genre?.name || '' %> "
      maxlength="50"
      required
    />
  </div>

  <input type="hidden" name="id" value="<%= genre?.id || '' %>">

  <button type="submit">Salvar</button>

  <% const upperUrl = isEdit ? `/genero/${genre?.id}` : "/generos" %>

  <a href="<%= upperUrl %>">
    Cancelar
  </a>
</form>
