<h1><%= title %></h1>

<form action="<%= `/desenvolvedor/${developer.id}/apagar` %>" method="post">
  <p>Deseja realmente apagar o desenvolvedor <b><%= developer.name %></b>?</p>

  <input type="hidden" name="id" value="<%= developer.id %>" />

  <% if (gamesFromDeveloper.length > 0) { %>
  <div class="alert alert-danger">
    <p>
      Todos os jogos e produtos relacionados a eles, listados abaixo, est達o
      vinculados a este desenvolvedor. Ao confirmar a exclus達o do desenvolvedor,
      todos os jogos e seus produtos associados ser達o permanentemente removidos!
    </p>
    <ul class="mb-0">
      <% gamesFromDeveloper.forEach(game => { %>
      <li>
        <%=
          `
            ${game.title}
            (${game.products_count}
            produto${game.products_count === 1 ? "s" : ""})
          `
        %>
      </li>
      <% }) %>
    </ul>
  </div>
  <% } %> 

  <button class="btn btn-danger" type="submit">Sim, apagar</button>
  <a class="btn btn-light" href="<%= `/desenvolvedor/${developer.id}` %>">N達o</a>
</form>
