<h1><%= title %></h1>

<form action="<%= `/desenvolvedor/${developer.id}/apagar` %>" method="post">
  <div class="formRow">
    <p>Deseja realmente apagar o desenvolvedor <b><%= developer.name %></b>?</p>

    <input type="hidden" name="id" value="<%= developer.id %>" />

    <% if (gamesFromDeveloper.length > 0) { %>
    <h2>Atenção!</h2>
    <p>
      Todos os jogos e produtos relacionados a eles, listados abaixo, estão
      vinculados a este desenvolvedor. Ao confirmar a exclusão do desenvolvedor,
      todos os jogos e seus produtos associados serão permanentemente removidos!
    </p>

    <ul>
      <% gamesFromDeveloper.forEach(game => { %>
      <li>
        <a href="<%= `/jogo/${game.id}` %>">
          <%= 
            `
              ${game.title}
              (${game.products_count}
              produto${game.products_count > 1 ? "s" : ""})
            `
          %>
        </a>
      </li>
      <% }) %>
    </ul>
    <% } %>

    <button type="submit">Sim</button>
    <a href="<%= `/desenvolvedor/${developer.id}` %>">Não</a>
  </div>
</form>
