<h1><%= developer.name %></h1>

<a href="<%= `/desenvolvedor/${developer.id}/editar` %>">Editar</a>
<a href="<%= `/desenvolvedor/${developer.id}/apagar` %>">Apagar</a>

<% if (gamesFromDeveloper.length > 0) { %>
<h2>Jogos do Desenvolvedor</h2>

<ul>
  <% gamesFromDeveloper.forEach(game => { %>
  <li>
    <a href="<%= `/jogo/${game.id}` %>"><%= game.title %></a>
  </li>
  <% }) %>
</ul>
<% } else { %>
<p><i>Não há jogos desse desenvolvedor.</i></p>
<% } %>
