<h1><%= title %></h1>

<form 
  method="post"
  action="<%= isEdit ? `/desenvolvedor/${developer?.id}/editar` : '/desenvolvedor/criar' %>"
>
  <%- include("../../partials/form-errors", errors) %>

  <div class="mb-3">
    <label class="form-label" for="developer">Nome:</label>
    
    <input
      class="form-control"
      type="text"
      name="name"
      id="developer"
      placeholder="Ex.: CD Projekt Red"
      value="<%= developer?.name || '' %>"
      maxlength="50"
      required
    />
  </div>

  <input type="hidden" name="id" value="<%= developer?.id || '' %>">

  <!-- Holds the original name to check for changes -->
  <input type="hidden" name="currentName" value="<%= currentName %>">

  <button class="btn btn-success" type="submit">Salvar</button>
  
  <% const upperUrl = isEdit ? `/desenvolvedor/${developer?.id}` : "/desenvolvedores" %>

  <a class="btn btn-light" href="<%= upperUrl %>">
    Cancelar
  </a>
</form>
