<h1><%= title %></h1>

<form 
  method="post"
  action="<%= isEdit ? `/desenvolvedor/${developer?.id}/editar` : '/desenvolvedor/criar' %>"
>
  <% if (errors.length > 0) { %>
    <ul>
      <% errors.forEach(error => { %>
        <li>
          <p><%= error.msg %></p>
        </li>
      <% }) %>
    </ul>
  <% } %>

  <div class="formRow">
    <label for="developer">Nome:</label>
    
    <input
      type="text"
      name="developer"
      id="developer"
      value="<%= developer?.name || '' %> "
      maxlength="50"
      required
    />
  </div>

  <input type="hidden" name="id" value="<%= developer?.id || '' %>">

  <button type="submit">Salvar</button>
  <a href="<%= `/desenvolvedor/${developer?.id}` %>">Cancelar</a>
</form>
