<h1><%= title %></h1>

<form action="<%= `/jogo/${game.id}/apagar` %>" method="post">
  <p>Deseja realmente apagar o jogo <b><%= game.title %></b>?</p>

  <% if (productsForGame.length > 0) { %>
  <div class="alert alert-danger">
    <p>
      Todos os produtos listados abaixo, est達o vinculados a este jogo. Ao
      confirmar a exclus達o do jogo, todos os produtos associados ser達o
      permanentemente removidos!
    </p>
    <ul class="mb-0">
      <% productsForGame.forEach(product => { %>
        <li>
          <%= `${product.game_title} (${product.platform_name})` %>
        </li>
      <% }) %>
    </ul>
  </div>
  <% } %>

  <input type="hidden" name="id" value="<%= game.id %>" />

  <button class="btn btn-danger" type="submit">Sim, apagar</button>
  <a class="btn btn-light" href="<%= `/jogo/${game.id}` %>">N達o</a>
</form>
