<h1><%= game.title %></h1>

<% if (game.description) { %>
  <p><%= game.description %></p>
<% } else { %>
  <p><i>Não foi fornecida uma descrição.</i></p>
<% } %>

<% if (game.website) { %>
  <a href="<%= game.website %>" target="_blank">Site oficial</a>
<% } else { %>
  <p><i>Não foi fornecido um site oficial.</i></p>
<% } %>

<p>
  <b>Desenvolvedor: </b>
  <a href="<%= `/desenvolvedor/${game.developer_id}` %>">
    <%= game.developer_name %>
  </a>
</p>

<p>
  <b><%= (genres.length > 1) ? "Gêneros" : "Gênero" %>:</b>
  <% genres.forEach((genre, i, array) => { %>
    <a href="<%= `/genero/${genre.id}` %>"><%= genre.name %></a><span><%= (i === array.length - 1) ? "." : ", " %></span>
  <% }) %>
</p>

<a href="<%= `/jogo/${game.id}/editar` %>">Editar</a>
<a href="<%= `/jogo/${game.id}/apagar` %>">Apagar</a>

<% if (productsForGame.length > 0) { %>
  <h2>Produtos para este Jogo</h2>
  
  <ul>
    <% productsForGame.forEach(products => { %>
      <li>
        <a href="<%= `/produto/${products.id}` %>">
          <%= `${products.game_title} (${products.platform_name})` %>
        </a>
      </li>
    <% }) %>
  </ul>
  <% } else { %>
    <p><i>Não há produtos para este jogo.</i></p>
  <% } %>