<h1><%= title %></h1>

<form action="<%= `/produto/${product.id}/apagar` %>" method="post">
  <p>
    Tem certeza de que deseja excluir o produto
    <b><%= `${product.game_title} (${product.platform_name})` %></b>?
  </p>

  <input type="hidden" name="id" value="<%= product.id %>" />

  <button class="btn btn-danger" type="submit">Sim, apagar</button>
  <a class="btn btn-light" href="<%= `/produto/${product.id}` %>">Não</a>
</form>
