<h1><%= title %></h1>

<div class="btn-group my-4">
  <a class="btn btn-secondary" href="<%= `/jogo/${product.game_id}` %>"
    >Gerenciar título</a
  >
  <a class="btn btn-secondary" href="<%= `/produto/${product.id}/editar` %>"
    >Editar</a
  >
  <a class="btn btn-secondary" href="<%= `/produto/${product.id}/apagar` %>"
    >Apagar</a
  >
</div>

<p>
  <b>Plataforma: </b>
  <a href="<%= `/plataforma/${product.platform_id}` %>">
    <%= product.platform_name %>
  </a>
</p>

<p><b>Data de lançamento: </b><%= product.launch_date %></p>

<p><b>Preço: </b>R$ <%= product.price %></p>
