<h1><%= title %></h1>

<a href="<%= `/produto/${product.id}/editar` %>">Editar</a>
<a href="<%= `/produto/${product.id}/apagar` %>">Apagar</a>

<a href="<%= `/jogo/${product.game_id}` %>">Gerenciar título</a>

<p>
  <b>Plataforma: </b>
  <a href="<%= `/plataforma/${product.platform_id}` %>">
    <%= product.platform_name %>
  </a>
</p>

<p><b>Data de lançamento: </b><%= product.launch_date %></p>

<p><b>Preço: </b>R$ <%= product.price %></p>
