<h1><%= title %></h1>

<form 
  action="<%= isEdit ? `/produto/${product?.id}/editar` : '/produto/criar' %>"
  method="post"
>
  <%- include("../../partials/form-errors", errors) %>

  <div class="mb-3">
    <label class="form-label" for="game_id">Jogo:</label>

    <% if (isEdit) { %>
      <select class="form-select" name="game_id" id="game_id" disabled>
        <option><%= product?.game_title %></option>
      </select>
    <% } else { %>
      <select class="form-select" name="game_id" id="game_id">
        <option value="">--Selecione um título--</option>
        
        <% allGames.forEach(game => { %>
          <option
            value="<%= game.id %>"
            <%= game.id == product?.game_id ? "selected" : "" %>
          >
            <%= game.title %>
          </option>
        <% }) %>
      </select>
    <% } %>
  </div>

  <div class="mb-3">
    <label class="form-label" for="platform_id">Plataforma:</label>

    <% if (isEdit) { %>
      <select class="form-select" name="platform_id" id="platform_id" disabled>
        <option><%= product?.platform_name %></option>
      </select>
    <% } else { %>
      <select class="form-select" name="platform_id" id="platform_id">
        <option value="">--Selecione uma plataforma--</option>
        
        <% allPlatforms.forEach(platform => { %>
          <option
            value="<%= platform.id %>"
            <%= platform.id == product?.platform_id ? "selected" : "" %>
          >
            <%= platform.name %>
          </option>
        <% }) %>
      </select>
    <% } %>  
  </div>


  <div class="mb-3">
    <label
      class="form-label"
      for="launch_date"
    >
      Data de lançamento na plataforma escolhida:
    </label>
    <input
      class="form-control"
      type="date"
      value="<%= product?.launch_date || '' %>"
      name="launch_date"
      id="launch_date"
      required
    >
  </div>

  <div class="mb-3">
    <label class="form-label" for="price">Preço:</label>
    <div class="input-group">
      <span class="input-group-text">R$</span>
      <input
        class="form-control"
        type="number"
        min="0"
        max="1000000"
        step="0.01"
        value="<%= product?.price || '0.00' %>"
        name="price"
        id="price"
        required
      >
    </div>
  </div>

  <input type="hidden" name="id" value="<%= product?.id || '' %>">

  <button class="btn btn-success" type="submit">Salvar</button> 

  <% const upperUrl = isEdit ? `/produto/${product?.id}` : "/produtos" %>

  <a class="btn btn-light" href="<%= upperUrl %>">
    Cancelar
  </a>
</form>