<h1><%= title %></h1>

<form 
  action="<%= isEdit ? `/produto/${product?.id}/editar` : '/produto/criar' %>"
  method="post"
>
  <% if (errors.length > 0) { %>
    <ul>
      <% errors.forEach(error => { %>
        <li>
          <p><%= error.msg %></p>
        </li>
      <% }) %>
    </ul>
  <% } %>

  <div class="formRow">
    <label for="game_id">Jogo:</label>

    <select name="game_id" id="game_id">
      <option value="">--Selecione um título--</option>
      
      <% allGames.forEach(game => { %>
        <option
          value="<%= game.id %>"
          <%= game.id == product?.game_id ? "selected" : "" %>
        >
          <%= game.title %>
        </option>
      <% }) %>
    </select>
  </div>

  <div class="formRow">
    <label for="platform_id">Plataforma:</label>

    <select name="platform_id" id="platform_id">
      <option value="">--Selecione uma plataforma--</option>
      
      <% allPlatforms.forEach(platform => { %>
        <option
          value="<%= platform.id %>"
          <%= platform.id == product?.platform_id ? "selected" : "" %>
        >
          <%= platform.name %>
        </option>
      <% }) %>
    </select>
  </div>

  <div class="formRow">
    <label for="launch_date">Data de lançamento na plataforma escolhida:</label>
    <input type="date" name="launch_date" id="launch_date" required>
  </div>

  <div class="formRow">
    <label for="price">Preço:</label>
    <input type="number" name="price" id="price" min="0" max="1000000" required>
  </div>

  <input type="hidden" name="id" value="<%= product?.id || '' %>">

  <button type="submit">Salvar</button> 

  <% const upperUrl = isEdit ? `/produto/${product?.id}` : "/jogos" %>

  <a href="<%= upperUrl %>">
    Cancelar
  </a>
</form>